<nav class="navbar" [class.navbar--scrolled]="isScrolled">
  <div class="navbar__brand" routerLink="/" style="cursor: pointer">
    <div class="navbar__logo">
      <img src="./content/images/logo.png" alt="Mokeal logo" />
    </div>
    <span class="navbar__name">Mokeal</span>
  </div>

  <button class="navbar__toggle" (click)="isMenuOpen = !isMenuOpen" [class.is-active]="isMenuOpen">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <ul class="navbar__links" [class.is-open]="isMenuOpen">
    <li><a (click)="closeMenuAndScroll('servicios')">Servicios</a></li>
    <li><a (click)="closeMenuAndScroll('nosotros')">Nosotros</a></li>
    <li><a (click)="closeMenuAndScroll('resenas')">Reseñas</a></li>
    <li><a (click)="closeMenuAndScroll('contacto')">Contacto</a></li>
  </ul>

  <button class="btn btn--primary btn--sm" (click)="scrollToSection('contacto')">Pedir presupuesto</button>
</nav>
